body {
    background-color: blanchedalmond;
}

#title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
}

#start-button {
    padding: 10px;
    margin: 5px;
    font-size: 90%;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rosybrown;
    color: seashell;
    border: unset;
    width: 134px;
}

#score {
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}

#score_button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    padding: 15px;
    margin: 47px;
    background: floralwhite;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    flex: 0;
    text-align: center;

}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 95px;
    margin-right: 70px;

}

/*We use flexbox to be sure that red squares appear stacks and in line, and then stuck over
each other as soon as they don't fit in the grid div with parameter*/
.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(137, 241, 210);
    
}
/*Here, we are using only the div elements inside .grid*/
.grid div {
    height: 20px;
    width: 20px;
}
/*Here, we are going to add some styling to our tetrominoes*/
.tetromino {
    background-color: blue;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(195, 241, 231);
}

.mini-grid div {
    height: 20px;
    width: 20px;
}
