.dino {
    position: absolute; /*así me aseguro que el dino estará abajo*/
    bottom: 0px; /*así me aseguro que el dino estará abajo*/
    width: 60px;
    height: 60px;
    background-color: red;
}

.obstacle {
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 60px;
    background-color: orange;
}