h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    letter-spacing: 4px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    width: 300px;
    height: 300px;
    margin: auto;
}
/*Damos un alto y ancho de 300px al main div y 20 para cada cuadro del grid. al ser de 15 x 15, nos aseguramos
que los cuadros 'cuadran' en el main div*/
.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: blue;
}

.invader {
    background-color: purple;
    border-radius: 10px;
}
/*When the shooter hits an invader*/
.boom {
    background-color: red;
}

.laser {
    background-color: yellow;
}


