body {
  background-image: url(https://images.alphacoders.com/935/thumb-1920-935315.png);
  background-repeat: no-repeat;
}

h3 {
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-size: 45px;
  letter-spacing: 4px;
  color: white;
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.predator {
  width: 20%;
}

.rebel {
  width: 20%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  width: 600px;
  height: 600px;
  margin: auto;
}
/*Damos un alto y ancho de 300px al main div y 20 para cada cuadro del grid. al ser de 15 x 15, nos aseguramos
que los cuadros 'cuadran' en el main div*/
.grid div {
  width: 40px;
  height: 40px;
}

.shooter {
  background-image: url(https://img.icons8.com/office/40/000000/space-fighter.png);
}

.invader {
  background-image: url(https://img.icons8.com/color/40/000000/predator.png);
}
/*When the shooter hits an invader*/
.boom {
  background-image: url(https://img.icons8.com/office/40/000000/flash-bang.png);
}

.laser {
  background-image: url(https://img.icons8.com/fluent/40/000000/conflict.png);
}

.instructions {
  width: 50vw;
  margin: auto;
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.instructions p {
  display: flex;
  font-size: 1.3em;
  font-family: "Russo One", sans-serif;
}

img {
  padding-right: 10px;
  margin-top: -6px;
}

.icons {
  color: white;
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-size: 0.8em;
  margin-top: 56px;
}

.icons a {
  color: white;
}

@media all and (max-width: 1200px) and (min-width: 550px) {
  body {
    margin-top: 10%;
  }
  .grid {
    width: 300px;
    height: 300px;
  }

  .grid div {
    width: 20px;
    height: 20px;
  }

  .shooter {
    background-image: url(https://img.icons8.com/office/20/000000/space-fighter.png);
  }

  .invader {
    background-image: url(https://img.icons8.com/color/20/000000/predator.png);
  }
  /*When the shooter hits an invader*/
  .boom {
    background-image: url(https://img.icons8.com/office/20/000000/flash-bang.png);
  }

  .laser {
    background-image: url(https://img.icons8.com/fluent/20/000000/conflict.png);
  }

  h3 {
    font-size: 30px;
  }

  .instructions p {
    font-size: 0.8em;
  }

  img {
    width: 30%;
    margin-top: -4px;
  }

  .icons {
    font-size: 0.5em;
  }
}

@media all and (max-width: 550px) {
  body {
    margin-top: 10%;
  }

  .grid {
    width: 150px;
    height: 150px;
  }

  .grid div {
    width: 10px;
    height: 10px;
  }

  .shooter {
    background-image: url(https://img.icons8.com/office/10/000000/space-fighter.png);
  }

  .invader {
    background-image: url(https://img.icons8.com/color/10/000000/predator.png);
  }
  /*When the shooter hits an invader*/
  .boom {
    background-image: url(https://img.icons8.com/office/10/000000/flash-bang.png);
  }

  .laser {
    background-image: url(https://img.icons8.com/fluent/10/000000/conflict.png);
  }

  h3 {
    font-size: 15px;
  }

  .instructions p {
    font-size: 3px;
    margin-left: 20px;
  }
  img {
    width: 20%;
    padding-right: 2px;
    margin-top: -3px;
  }

  .icons {
    font-size: 3px;
    margin-top: 30px;
  }
}
