body {
    background-image: url(https://images.alphacoders.com/935/thumb-1920-935315.png);
    background-repeat: no-repeat;
}

h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    letter-spacing: 4px;
    color: white;
    margin: 60px;
}

.container {
    display: flex;
    justify-content: center;

}

.predator {
    width: 20%;;
}

.rebel {
    width: 20%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    width: 600px;
    height: 600px;
    margin: auto;
}
/*Damos un alto y ancho de 300px al main div y 20 para cada cuadro del grid. al ser de 15 x 15, nos aseguramos
que los cuadros 'cuadran' en el main div*/
.grid div {
    width: 40px;
    height: 40px;
}

.shooter {
    background-image: url(https://img.icons8.com/office/40/000000/space-fighter.png);
}

.invader {
    background-image: url(https://img.icons8.com/color/40/000000/predator.png);
}
/*When the shooter hits an invader*/
.boom {
    background-image: url(https://img.icons8.com/office/40/000000/flash-bang.png);
}

.laser {
    background-image: url(https://img.icons8.com/fluent/40/000000/conflict.png);
}


